<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Gestão_EconomatoEntities" connectionString="metadata=res://*/GestaoEco.csdl|res://*/GestaoEco.ssdl|res://*/GestaoEco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MOE21SKT;initial catalog=Gestão_Economato;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GestaoEconomato.Properties.Settings.Gestão_EconomatoConnectionString"
      connectionString="Data Source=LAPTOP-MOE21SKT;Initial Catalog=Gestão_Economato;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>